#map {
    position: relative;
    margin-top: 25px;
    min-height: 500px;;
    outline-style: none;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
}
h1 {
    text-align:center;
}