{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Food Community{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {%block add %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <!-- Navigation Bar -->
    <nav>
        <ul class="nav">
            <li><a href="/map/">MyFoodCommunity</a></li>
            <li><a href="/map/">Contact Us</a></li>
            {% if user.is_authenticated %}
                <!--<li><a href="/edit/">Edit Details</a></li>-->
                <li><a href="/changepassword/">Change Password</a></li>
                <li>{% include "_logout.html" %}</li>
            {% else %}
                <li><a href="/sign-up/">Sign Up</a></li>
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div id="content" name="content">
	{% block content %}
	{% endblock %}
    </div>

</body>
</html>