.page-wrapper h2 {
    color: #004000;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.page-wrapper p, ul {
    color: #004000;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.fis-container {
    background-color: #e7ebe8;
    height: 530px;
    margin-top: -50px;
    margin-bottom: 50px;
}
.fis-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.fis-image {
    width: 58%;
    height: 100%;
    overflow: hidden;
}
.fis-image img {
    width: 100%;
}
.fis-text-column {
    width: 42%;
    display: flex;
    flex-direction: column;
}
.fis-logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fis-text-column img {
    padding: 10px;
    margin-top: 40px;
    width: 150px;
    height: 150px;
}
.fis-text-column h2 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #004000;
    margin-left: 50px;
}
.fis-text-column p {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    color: #004000;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
}
/* icon shadow */
.icon-shadow {
    position: absolute;
    transform: translateX(-50%);
    width: 55px;
    height: 6px;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(8px);
    border-radius: 50%;
    z-index: 0;
}
.eye-shadow {
    width: 55px !important;
    left: 25px !important;
    bottom: 138px; 
}
.target-shadow {
    width: 45px !important;
    left: 17px;
    bottom: 138px; 
}

.coop-marque {
    justify-content: left;
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
}

.coop-marque img {
    width: 130px;
    height: 130px;
}

/* join button */
.about-join-movement {
    margin-top: 50px;
    text-align: start;
    margin-bottom: -120px;
    text-decoration: none;
}
.join-movement-btn {
    background-color: #004000;
    border-radius: 50px;
    padding: 18px 35px;
    color: white;
    cursor: pointer;
    transition: 0.1s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;  
    text-align: center; 
    margin-top: 0px;
}
.join-movement-btn:hover {
    background: #ffb300;
    color: #004000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.story-row {
    display: flex;
    flex-direction: row;
}
.story-row img {
    height: 420px;
    width: 550px;
    border-radius: 25px;
    margin-top: 30px;
    margin-right: 50px;
    object-position: center;
    object-fit: cover;
}


/* //////////////// FOUNDERS //////////////// */
.founders {
    margin-top: 200px;
    padding: 50px 80px;
    background-color: #e7ebe8;
}
.founders h1 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #004000;
    margin-bottom: 50px;
}
.founders-row {
    display: flex;
    gap: 32px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.founder-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.founder-card p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #004000;
}
.profile-crop {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.95);
}
.profile-crop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.1);
    transform-origin: center center;
    color: #004000 !important;
    border-radius: 50%;
}
.profile-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.1);
    transform-origin: center center;
}
.profile-circle {
    background-color: white !important;
    color: #004000 !important;
}