/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@ ALL 3 PAGES SHARE THIS
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.foodx100-wrapper h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #004000;
}
.foodx100-wrapper p {
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #004000;
}
.foodx100-container .bold-text {
    font-weight: 900;
}
.foodx100-faq p {
    color: #ffb300;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 20px;
}
/* FAQ button */
.open-faq-btn {
    background-color: #004000;
    border-radius: 50px;
    padding: 18px 35px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.1s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;  
    text-align: center; 
    margin-top: 0px;
}
.open-faq-btn:hover {
    background-color: #ffb300;
    color: #004000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.buttons-row-foodx100 {
    padding-top: 50px;
    margin-bottom: -30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* foodXchange founder button */
.become-founder-btn {
    background-color: #004000;
    border-radius: 50px;
    padding: 18px 35px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.1s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;  
    text-align: center; 
    margin-top: 0px;
}
.become-founder-btn:hover {
    background: #ffb300;
    color: #004000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
/* Early access button */
.early-access-btn {
    background-color: #004000;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 18px 35px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.1s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;  
    text-align: center; 
    margin-top: 0px;
}
.early-access-btn:hover {
    background-color: #ffb300;
    color: #004000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.floating-store:hover {
    transform: scale(1.05);
}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@ FOODX100
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.foodx100-database {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    height: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.foodx100-database p {
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #004000;
}
.foodx100-container .foodX100-features {
    list-style: none;
    padding-left: 0;
}
.foodX100-features img {
    width: 15px;
    height: 15px;
}
.foodx100-faq {
    text-align: start;
    margin-bottom: 50px;
    text-decoration: none;
}
.foodx100-bigger-mission {
    margin-top: 30px;
}
.foodx100-bigger-mission a {
    text-decoration: none;
    color: white;
    margin-bottom: 80px;
}
.foodx100-bigger-mission p {
    margin-bottom: 10px;
}
.database-container {
    padding: 20px 80px;
    background: #e7ebe8;
    margin: 50px 0;
}
.database-container h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #004000;
    margin-bottom: -20px;
}
.foodx100-map {
    background-color: white;
    border-radius: 25px;
    height: 800px;
}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@ FOODX MY COMMUNITY
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.foodx-community-map {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.foodx-community-map p {
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #004000;
}
.foodx-community-container .foodx-community-features {
    list-style: none;
    padding-left: 0;
}
.foodx-community-features img {
    width: 15px;
    height: 15px;
}
.foodx-community-faq {
    text-align: start;
    margin-bottom: 50px;
    text-decoration: none;
}
.foodx-community-bigger-mission a {
    text-decoration: none;
    color: #ffb300;
    margin-bottom: 80px;
}
.foodx-community-bigger-mission p {
    margin-bottom: 0px;
}
.foodx100-bigger-mission {
    margin-bottom: 70px;
}
.community-partners-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}
.community-partners-card {
    width: 50%;
    height: 490px;
    background: #e7ebe8;
    border-radius: 25px;
    padding: 25px 60px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: 0.1s ease;
}
/* .community-partners-card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
} */
.community-partners-row a {
    text-decoration: none;
    width: 50%;
}
.first-text-card-community-partners {
    text-align: left;
    display: flex;
    justify-content: left;
}
.bullets-card-community-partners {
    display: flex;
    justify-content: left;
}
.bullets-card-community-partners ul {
    text-align: left;
    padding-left: 20px;
    margin: 0;
}
.last-text-card-community-partners {
    text-align: left;
    display: flex;
    justify-content: center;
}
.card-header-wrapper {
    text-align: left;
}
.community-partners-wrapper .community-partners-card h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #004000;
}
.community-partners-wrapper .community-partners-card h3 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #004000;
    margin-top: -20px;
}
.community-partners-wrapper {
    margin-bottom: 50px;
    margin-top: 50px;
}
.map-container h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #004000;
    margin-bottom: -20px;
}
.map-container {
    padding: 20px 80px;
    background: #e7ebe8;
    margin: 10px 0;
}
.foodx-community-map {
    background-color: white;
    border-radius: 25px;
    height: 800px;
}
/* sign-up (both cards) button */
.sign-up-btn {
    background-color: #004000;
    border-radius: 50px;
    padding: 18px 35px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.1s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;  
    text-align: center; 
    margin-top: 0px;
}
.sign-up-btn:hover {
    background: #ffb300;
    color: #004000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.community-partner-card-text-wrapper {
    height: 400px;
}
.community-partner-sign-up {
    text-align: center;
}
.local-food-matters-row {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}
.local-food-matters-column {
    display: flex;
    flex-direction: column;
}
.local-food-matters-row img {
    height: 420px;
    border-radius: 25px;
    margin-right: 50px;
}


/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@ COOK
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.cook-wrapper {
    margin-bottom: -20px;
}
.cook-database {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cook-database p {
    color: #004000;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size: 20px;

}
.cook-container .cook-features {
    list-style: none;
    padding-left: 0;
}
.cook-features img {
    width: 15px;
    height: 15px;
}
.cook-container {
    padding: 20px 80px;
    background: #e7ebe8;
    margin: 80px 0;
}
.cook-map {
    background-color: white;
    border-radius: 25px;
    height: 800px;
}
